<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    
    <title>WashScrapePost</title>

    {{!-- links --}}
  </head>
  <body style="background-color: #FF9741">
    <div class="container-fluid" style="color: #853C00">
      <h1>
        Look at lovely articles
      </h1>
      <h3 id="scrapeBtn" class="btn btn-default">Scrape Articles</h3>
      {{{ body }}}
    </div>
    {{!-- <script type="text/javascript" src="app.js" ></script>     --}}
  </body>
</html>