{{!-- <div class="container">
  <div class="row">
    <div class="col-sm-8">
      <ul class="list-group">
        {{#each Article}}
        <li class="list-group-item">
          <p>
            <span>{{this.headline}}</span>
            <br>
            <span>{{this.summary}}</span> 
            <br>
            <a href="{{this.link}}" class="btn btn-default" target="_blank">View Article</a>
            <p  data-id="{{this._id}}" class="commentBtn btn btn-default">Comment</p>
          </p>
        </li>
        {{/each}}
      </ul>  
    </div>

    <div id="commentCol" class="col-sm-4">
      

    </div>
  </div>
</div> --}}